<header class="site-header">
  <div class="logo">
    <a href="{{ '/' | relative_url }}" class="site-title">
      {% if site.logo %}
      <img src="{{ site.logo | relative_url }}" alt="{{ site.title }}" class="logo-image">
      {% endif %}
      <span class="logo-text">{{ site.title }}<span class="logo-tm">™</span></span>
    </a>
  </div>
  
  <nav class="site-nav">
    <ul>
      {% for item in site.navigation %}
      <li><a href="{{ item.url | relative_url }}" class="nav-link {% if page.url == item.url %}active{% endif %}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
